@import url(./__list/cards__list.css);
@import url(./__item/cards__item.css);
.cards {
    margin: 0 auto;
    max-width: 882px;
    margin-top: 51px;
    padding-bottom: 61px;
}

@media screen and (max-width: 881px) {
    .cards {
        max-width: 582px;
    }
}