.element__like {
    background-image: url(../../../images/like-inactive.svg);
    border: 0;
    width: 21px;
    height: 19px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    background-color: #FFFFFF;
    padding: 0;
    box-shadow: none;
}

.element__like:hover {
    opacity: 0.6;
}