.page {
    font-family: 'Inter', ‘Arial’, sans-serif;
    background-color: #000000;
    min-width: 300px;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}