.element__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
    grid-template-rows: 361px 361px;
    grid-row-gap: 21px;
    grid-column-gap: 18px;
}

@media screen and (max-width: 881px) {
    .element__list {
        grid-template-rows: repeat(3, 361px);
    }
}

@media screen and (max-width: 590px) {
    .element__list {
        margin-top: 36px;
        grid-row-gap: 20px;
        grid-template-rows: repeat(6, 361px);
    }
}