.element__social-like {
    background-image: url(../../../images/like.svg);
    border: 0;
    width: 21px;
    height: 19px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    background-color: #FFFFFF;
    padding: 0;
    box-shadow: none;
}

.element__social-like:active,
.element__social-like:focus {
    outline: 0;
    transform: scale(1.2);
    transition: transform 0.2s ease-in;
}

.element__social-like:hover {
    opacity: 0.6;
}