.element__delete {
    position: absolute;
    border: 0;
    width: 18px;
    height: 19.3px;
    margin-left: 249px;
    margin-top: 18px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    padding: 0;
    outline: none;
    background: transparent;
    background-image: url(../../../images/del-button.svg);
}