.element__item {
    background-color: #FFFFFF;
    max-width: 282px;
    z-index: 1;
    border-radius: 10px;
}

@media screen and (max-width: 590px) {
    .element__item {
        margin: 0 auto;
    }
}