.card__button-like_active {
    background-image: url(../../../../images/like-button_active.svg);
    background: none;
    object-fit: contain;
    background-repeat: no-repeat;
    width: 21px;
    height: 18px;
    margin-right: 22px;
    border: none;
    box-shadow: none;
    outline: none;
}