.popup-add__input-error {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.25;
    color: #FF0000;
    padding: 5px 0 3px 5px;
    opacity: 0;
    position: absolute;
    top: 38px;
    left: 5px;
}