@import url(./__logo/header__logo.css);
.header {
    max-width: 882px;
    margin: 0 auto 40px;
    padding-top: 45px;
    border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media screen and (max-width: 882px) {
    .header {
        max-width: 582px;
    }
}

@media screen and (max-width: 582px) {
    .header {
        padding-top: 28px;
        margin-bottom: 42px;
    }
}