.footer__author {
    margin-top: 0;
    margin-bottom: 60px;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
}

@media screen and (max-width: 582px) {
    .footer__author {
        font-size: 14px;
        line-height: 17px;
    }
}