.element__group {
    background-color: #FFFFFF;
    max-width: 282px;
    border-radius: 10px;
    z-index: 1;
}

@media only screen and (max-width: 583px) {
    .element__group {
        margin: 0 auto;
    }
}