.popup-add__input {
    font-size: 14px;
    line-height: 1.2;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    padding: 10px 0 10px 5px;
    width: 100%;
    margin-bottom: 35px;
}

.popup-add__input::placeholder {
    color: #C4C4C4;
    ;
}

.popup-add__input:focus {
    outline: 2px solid gray;
}

@media screen and (max-width: 370px) {
    .popup-add__input {
        margin-bottom: 46px;
    }
}