.popup__error {
    position: absolute;
    top: calc(5px + 27px);
    left: 0;
    color: #FF0000;
    font-size: 12px;
    line-height: 1.25;
    font-weight: 400;
    opacity: 0;
    transition: opacity 0.3s ease;
}

@media screen and (max-width: 450px){
    .popup__error {
        top: calc(6px + 24px);
        font-size: 10px;
        line-height: 1.1;
    }
}