.element__like-active {
    background-image: url(../../../images/like-active.svg);
    border: 0;
    width: 21px;
    height: 19px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    background-color: #FFFFFF;
    padding: 0;
    box-shadow: none;
}