@import url(./__autor/footer__autor.css);
.footer {
    max-width: 882px;
    display: flex;
    margin: 0 auto;
}

@media only screen and (max-width: 881px) {
    .footer {
        width: 90%;
    }
}

@media only screen and (max-width: 582px) {
    .footer {
        max-width: 282px;
    }
}