.pictures__item {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    flex-shrink: 0.1;
}