.profile__name {
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 56px;
    color: #FFFFFF;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 295px;
    overflow-x: hidden;
}

@media screen and (max-width: 450px) {
    .profile__name {
        font-size: 27px;
        text-align: center;
        max-width: calc(100% - 30px);
    }
}