.popup-container {
    max-width: 430px;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 34px 36px 36.5px;
    position: relative;
    box-sizing: border-box;
}

@media only screen and (max-width: 520px) {
    .popup-container {
        max-width: 335px;
        width: 100%;
    }
}

@media only screen and (max-width: 420px) {
    .popup-container {
        max-width: 240px;
        width: 100%;
    }
}