.popup-img__close {
    position: absolute;
    right: -38px;
    top: -38px;
    width: 40.7px;
    height: 40.7px;
    cursor: pointer;
    background-image: url(../../../images/close-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    box-shadow: none;
    object-fit: contain;
}

.popup-img__close:hover {
    outline: none;
    opacity: 0.8;
    cursor: pointer;
}

@media only screen and (max-width: 490px) {
    .popup-img__close {
        width: 30px;
        height: 30px;
        right: -32px;
        top: -32px;
    }
}