@import url(./__list/element__list.css);
@import url(./__item/element__item.css);
@import url(./__image/element__image.css);
@import url(./__place/element__place.css);
@import url(./__title/element__title.css);
@import url(./__like/element__like.css);
.element {
    margin: 0 auto;
    max-width: 882px;
    margin-top: 51px;
    padding-bottom: 61px;
}

@media screen and (max-width: 881px) {
    .element {
        max-width: 582px;
    }
}