@import url(./__list/element__list.css);
.element {
    margin: 0 auto;
    max-width: 882px;
    margin-top: 51px;
    padding-bottom: 61px;
}

@media only screen and (max-width: 881px) {
    .element {
        max-width: 582px;
    }
}

@media only screen and (max-width: 581px) {
    .element {
        max-width: 282px;
    }
}