.popup__container_type_picture {
    padding: 0;
    margin: 0;
    max-width: 75vw;
    width: auto;
    height: auto;
    max-height: 75vh;
    background-color: transparent;
    box-shadow: none;
    border-radius: 0;
}