@import url('./__logo/header__logo.css');

.header {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 74px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 680px){
    .header {
        min-height: 65px;
    }
}

@media screen and (max-width: 425px){
    .header {
        min-height: 56px;
    }
}