.profile__job {
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin: 0;
    margin-left: 31px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 318px;
}

@media only screen and (max-width: 600px) {
    .profile__job {
        margin-bottom: 36px;
    }
}

@media only screen and (max-width: 450px) {
    .profile__job {
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        max-width: 280px;
        margin-left: 20px;
    }
}