.popup-edit__close {
    position: absolute;
    right: -38px;
    top: -38px;
    width: 40.7px;
    height: 40.7px;
    cursor: pointer;
    background-image: url(../../../images/CloseIcon.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.popup-edit__close:hover {
    outline: none;
    background-image: url(../../../images/CloseIcon-gray.svg);
}

@media screen and (max-width: 490px) {
    .popup-edit__close {
        right: 20px;
        top: -40px;
    }
}