.popup-edit__content {
    max-width: 430px;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 34px 36px 36.5px;
    position: relative;
    box-sizing: border-box;
}

@media screen and (max-width: 320px) {
    .popup-edit__content {
        padding: 30px 20px 30px;
    }
}